

.title {
	font-family: "Times New Roman";
	font-variant: small-caps;
	font-style: bold;
	font-size: 3em;
	
}

b {
	color: blue;
}

.inv_q {
	font-size: 1.4em;
}

.dred {
	color: #A80000;
	font-size: 4em;
}
